<section class="article-box">

    <div id="header">

        <div id="author-info">

            <!-- all-articles mode -->
            <% if (articles === "all") { %>

                <img id="author-avatar" src="/images/profiles/<%= authors_info[i].avatar -%>" alt="Author">
    
            <%} %>
    
            <!-- user-articles mode -->
            <% if (articles === "user's") { %>
    
                <img id="author-avatar" src="/images/profiles/<%= authors_info.avatar -%>" alt="Author">
    
            <%} %>

    

            <div>

                <!-- all-articles mode -->
                <% if (articles === "all") { %>

                    <p><%= authors_info[i].fname -%> <%= authors_info[i].lname -%></p>

                <%} %>

                <!-- user-articles mode -->
                <% if (articles === "user's") { %>

                    <p><%= authors_info.fname -%> <%= authors_info.lname -%></p>

                <%} %>

                <p> - <%= articles_info[i].createdAt -%></p>

            </div>

        </div>
       
    </div>        

    <hr>

    <div id="article-title-container">
        <h3 id="article-title"><b><%= articles_info[i].title -%></b></h3>
    </div>

    <div id="body">

        <img id="article-avatar" src="/images/articles/<%= articles_info[i].avatar %>" alt="Article">

        <div id="summary">
            <p><%= articles_info[i].summary -%></p>
        </div>

    </div>
    
    
    <div id="footer">

        <!-- holds article id -->
        <div id="article-id" style="display: none;"><%= articles_info[i].id -%></div>

        <a href="#">Read More</a>

    </div>

</section>