<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <%- include('./partials/APIs&CDNs/bootstrap-css.ejs') -%>

    <link rel="stylesheet" href="../stylesheets/main.css">
    <link rel="stylesheet" href="../stylesheets/navbar.css">
    <link rel="stylesheet" href="../stylesheets/sidebar.css">
    
    <link rel="stylesheet" href="../stylesheets/dashboard.css">
    <link rel="stylesheet" href="../stylesheets/loading1.css">

    <title>Dashboard</title>

</head>

<body>

    <%- include('./partials/bars/navbar.ejs') -%>

    <%# blogger sidebar %>
    <% if (role === "blogger") { %>
        <%- include('./partials/bars/sidebar-blogger.ejs') -%>
    <%} %>

    <%# admin sidebar %>
    <% if (role === "admin") { %>
        <%- include('./partials/bars/sidebar-admin.ejs') -%>
    <%} %>



    <section id="dashboard">
    
        <h1 id="pro-info">Dashboard</h1>
    
    
        <section id="seperator-section">
    

            <section id="text-section">
    
                <div class="info-container">
                    <p>
                        <b>First Name:</b>&emsp;
                        <span><%= fname -%></span>
                        <input type="text" value="<%= fname -%>" id="fname-box" class="edit-box">
                    </p>
                </div>
    
    
                <div class="info-container">
                    <p>
                        <b>Last Name:</b>&emsp;
                        <span><%= lname -%></span>
                        <input type="text" value="<%= lname -%>" id="lname-box" class="edit-box">
                    </p>
                </div>
    
    
                <div class="info-container">
                    <p>
                        <b>Username:</b>&emsp;
                        <span><%= uname -%></span>
                        <input type="text" value="<%= uname -%>" id="username-box" class="edit-box">
                    </p>
                </div>

                <div class="info-container">
                    <p>
                        <b>Gender:</b>&emsp;
                        <span id="gender"><%= gender -%></span>

                        <div id="genders-container">

                            <span class="gender edit-box">
                                <input id="Male" type="radio" name="gender">
                                <label for="Male">Male</label>
                            </span>
                            <span class="gender edit-box">
                                <input id="Female" type="radio" name="gender">
                                <label for="Female">Female</label>
                            </span>
                            
                        </div>
                    </p>
                </div>
    
                <div class="info-container">
                    <p>
                        <b>Phone Number:</b>&emsp;
                        <span><%= mobile -%></span>
                        <input type="text" value="<%= mobile -%>" id="phone-box" class="edit-box">
                    </p>
                </div>

    
    
                <div id="edit-container">

                    <div id="edit-btn">Edit</div>
                    <i id="cancel-btn" class="far fa-times-circle"></i>

                    <!-- Loading Animation -->
                    <div id="loading-edit" class="sk-chase">
                        <div class="sk-chase-dot"></div>
                        <div class="sk-chase-dot"></div>
                        <div class="sk-chase-dot"></div>
                        <div class="sk-chase-dot"></div>
                        <div class="sk-chase-dot"></div>
                        <div class="sk-chase-dot"></div>
                    </div>

                    <i id="apply-btn" class="far fa-check-circle"></i>

                </div>


                <br>
                <a href="#" id="change-password">Change Password</a>
    
            </section>


            <section id="picture-section">

                <%# no avatar %>
                <% if (avatar === "default-pic.jpg") { %>
                    <img id="avatar" src="../images/profiles/default-pic.jpg" alt="default-pic">
                <%} %>

                <%# personal avatar %>
                <% if (avatar !== "default-pic.jpg") { %>
                    <img id="avatar" src="../images/profiles/<%=avatar-%>" alt="avatar">
                <%} %>


                <div id="add-photo">

                    <i class="fas fa-camera"></i>
                    <p>Change Photo</p>

                </div>

            </section>

        </section>
        
        <div id="error-alert" class="alert alert-danger alert-box" role="alert"></div>
    
    </section>


    <!-- change password panel -->
    <%- include('./partials/change-password-panel.ejs') -%>

    <!-- change photo panel -->
    <%- include('./partials/change-photo-panel.ejs') -%>                    

    


    
    <%- include('./partials/APIs&CDNs/fontawsome-js.ejs') -%>
    <%- include('./partials/APIs&CDNs/bootstrap-js.ejs') -%>

    <script src="../javascripts/jQuery-Uncompressed.v3.4.1.js"></script>
    <script src="../javascripts/dashboard.js" type="module"></script>

</body>

</html>