<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <%- include('./partials/bootstrap-css.ejs') -%>

    <link rel="stylesheet" href="../stylesheets/main.css">
    <link rel="stylesheet" href="../stylesheets/navbar.css">
    <link rel="stylesheet" href="../stylesheets/sidebar.css">
    
    <link rel="stylesheet" href="../stylesheets/dashboard.css">
    <link rel="stylesheet" href="../stylesheets/loading1.css">

    <script src="https://kit.fontawesome.com/0b9430af26.js" crossorigin="anonymous"></script>

    <title>Dashboard</title>

</head>

<body>

    <%- include('./partials/navbar.ejs') -%>


    <%# blogger sidebar %>
    <% if (role === "blogger") { %>
        <%- include('./partials/sidebar-blogger.ejs') -%>
    <%} %>

    <%# admin sidebar %>
    <% if (role === "admin") { %>
        <%- include('./partials/sidebar-admin.ejs') -%>
    <%} %>



    <section id="dashboard">
    
        <h1 id="pro-info">Dashboard</h1>
    
    
        <section id="seperator-section">
    

            <section id="text-section">
    
                <div class="info-container">
                    <p>
                        <b>First Name:</b>&emsp;
                        <span><%= fname -%></span>
                        <input type="text" value="<%= fname -%>" id="fname-box" class="edit-box">
                    </p>
                </div>
    
    
                <div class="info-container">
                    <p>
                        <b>Last Name:</b>&emsp;
                        <span><%= lname -%></span>
                        <input type="text" value="<%= lname -%>" id="lname-box" class="edit-box">
                    </p>
                </div>
    
    
                <div class="info-container">
                    <p>
                        <b>Username:</b>&emsp;
                        <span><%= uname -%></span>
                        <input type="text" value="<%= uname -%>" id="username-box" class="edit-box">
                    </p>
                </div>

                <div class="info-container">
                    <p>
                        <b>Gender:</b>&emsp;
                        <span id="gender"><%= gender -%></span>

                        <div id="genders-container">

                            <span class="gender edit-box">
                                <input id="Male" type="radio" name="gender">
                                <label for="Male">Male</label>
                            </span>
                            <span class="gender edit-box">
                                <input id="Female" type="radio" name="gender">
                                <label for="Female">Female</label>
                            </span>
                            
                        </div>
                    </p>
                </div>
    
                <div class="info-container">
                    <p>
                        <b>Phone Number:</b>&emsp;
                        <span><%= mobile -%></span>
                        <input type="text" value="<%= mobile -%>" id="phone-box" class="edit-box">
                    </p>
                </div>

    
    
                <div id="edit-container">

                    <div id="edit-btn">Edit</div>
                    <i id="cancel-btn" class="far fa-times-circle"></i>

                    <!-- Loading Animation -->
                    <div id="loading-edit" class="sk-chase">
                        <div class="sk-chase-dot"></div>
                        <div class="sk-chase-dot"></div>
                        <div class="sk-chase-dot"></div>
                        <div class="sk-chase-dot"></div>
                        <div class="sk-chase-dot"></div>
                        <div class="sk-chase-dot"></div>
                    </div>

                    <i id="apply-btn" class="far fa-check-circle"></i>

                </div>


                <br>
                <a href="#" id="change-password">Change Password</a>
    
            </section>


            <section id="picture-section">

                <img src="../images/default-pic.jpg" alt="default-pic">

            </section>
    

            
        </section>
        
        <div id="error-alert" class="alert alert-danger alert-box" role="alert">Username and Mobile are duplicate to another user(s).</div>
    
    </section>



    <!-- Button trigger modal -->
    <button type="button" id="modal-btn" class="btn btn-primary" data-toggle="modal" 
        data-target="#staticBackdrop" style="display: none;">
        Launch static backdrop modal
    </button>
    
    <!-- Modal -->
    <div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        
        <div class="modal-dialog">

            <div class="modal-content">

                <div class="modal-header">

                    <h5 class="modal-title" id="staticBackdropLabel">
                        <b>Change Password</b>
                    </h5>

                    <button type="button" class="close" id="close-btn-top" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>

                </div>


                <div class="modal-body">

                    <label for="old-p-box">Old Password:</label><br>
                    <input class="change-password-inputs" id="old-p-box" type="password" placeholder="Old Password">
                    <div id="old-password-length-warning" class="warning-box">
                        &emsp;&emsp;&emsp;*Length is not valid
                    </div>

                    <label for="new-p-box">New Password:</label><br>
                    <input class="change-password-inputs" id="new-p-box" type="password" placeholder="New Password">
                    <div id="new-password-length-warning" class="warning-box">
                        &emsp;&emsp;&emsp;*Length is not valid
                    </div>

                    <label for="repeat-p-box">Repeat Password:</label><br>
                    <input class="change-password-inputs" id="repeat-p-box" type="password" placeholder=" Repeat New Password">
                    <div id="repeat-password-length-warning" class="warning-box">
                        &emsp;&emsp;&emsp;*Both passwords MUST be the same
                    </div>


                    <div id="error-alert-modal" class="alert alert-danger alert-box" role="alert">
                        Something went wrong! Try again.
                    </div>
                   
                </div>


                <div class="modal-footer">

                    <button type="button" class="btn btn-secondary" id="close-btn-bottom" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="apply-password-change">Apply</button>
                
                    <!-- Loading Animation -->
                    <div id="loading-password" class="sk-chase">
                        <div class="sk-chase-dot"></div>
                        <div class="sk-chase-dot"></div>
                        <div class="sk-chase-dot"></div>
                        <div class="sk-chase-dot"></div>
                        <div class="sk-chase-dot"></div>
                        <div class="sk-chase-dot"></div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>


    <%- include('./partials/bootstrap-js.ejs') -%>

    <script src="../javascripts/jQuery-Uncompressed.v3.4.1.js"></script>
    <script src="../javascripts/dashboard.js" type="module"></script>

</body>

</html>