<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <%- include('./partials/bootstrap-css.ejs') -%>

    <link rel="stylesheet" href="../stylesheets/main.css">
    <link rel="stylesheet" href="../stylesheets/navbar.css">
    <link rel="stylesheet" href="../stylesheets/sidebar.css">

    <link rel="stylesheet" href="../stylesheets/dashboard.css">
    <link rel="stylesheet" href="../stylesheets/loading1.css">

    <script src="https://kit.fontawesome.com/0b9430af26.js" crossorigin="anonymous"></script>

    <title>Dashboard</title>

</head>

<body>

    <%- include('./partials/navbar.ejs') -%>

    <%- include('./partials/sidebar-admin.ejs') -%>



    <section id="dashboard">
    
        <h1 id="pro-info">Dashboard</h1>
    
    
        <section id="seperator-section">
    

            <section id="text-section">
    
                <div class="info-container">
                    <p>
                        <b>First Name:</b>&emsp;
                        <span><%= fname -%></span>
                        <input type="text" value="fname" id="fname-box" class="edit-box">
                    </p>
                </div>
    
    
                <div class="info-container">
                    <p>
                        <b>Last Name:</b>&emsp;
                        <span><%= lname -%></span>
                        <input type="text" value="lname" id="lname-box" class="edit-box">
                    </p>
                </div>
    
    
                <div class="info-container">
                    <p>
                        <b>Username:</b>&emsp;
                        <span><%= uname -%></span>
                        <input type="text" value="username" id="username-box" class="edit-box">
                    </p>
                </div>

                <div class="info-container">
                    <p>
                        <b>Gender:</b>&emsp;
                        <span id="gender"><%= gender -%></span>

                        <div id="genders-container">

                            <span class="gender edit-box">
                                <input id="Male" type="radio" name="gender"> Male
                            </span>
                            <span class="gender edit-box">
                                <input id="Female" type="radio" name="gender"> Female
                            </span>
                            
                        </div>
                    </p>
                </div>
    
                <div class="info-container">
                    <p>
                        <b>Phone Number:</b>&emsp;
                        <span><%= mobile -%></span>
                        <input type="text" value="phone" id="phone-box" class="edit-box">
                    </p>
                </div>

    
    
                <div id="edit-container">

                    <div id="edit-btn">Edit</div>
                    <i id="cancel-btn" class="far fa-times-circle"></i>

                    <!-- Loading Animation -->
                    <div id="loading1" class="sk-chase">
                        <div class="sk-chase-dot"></div>
                        <div class="sk-chase-dot"></div>
                        <div class="sk-chase-dot"></div>
                        <div class="sk-chase-dot"></div>
                        <div class="sk-chase-dot"></div>
                        <div class="sk-chase-dot"></div>
                      </div>

                    <i id="apply-btn" class="far fa-check-circle"></i>

                </div>


                <br>
                <a href="#">Change Password</a>
    
            </section>

            
            <section id="picture-section">

                <img src="../images/default-pic.jpg" alt="default-pic">

            </section>
    
    
        </section>

        <div id="error-alert" class="alert alert-danger alert-box" role="alert">Username and Mobile are duplicate to another user(s).</div>
    
    </section>


    <script src="../javascripts/jQuery-Uncompressed.v3.4.1.js"></script>
    <script src="../javascripts/dashboard.js"></script>

</body>

</html>