<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <%- include('./partials/APIs&CDNs/bootstrap-css.ejs') -%>

    <link rel="stylesheet" href="/stylesheets/main.css">
    <link rel="stylesheet" href="/stylesheets/navbar.css">
    <link rel="stylesheet" href="/stylesheets/sidebar.css">

    <link rel="stylesheet" href="/stylesheets/article.css">
    <link rel="stylesheet" href="/stylesheets/loading1.css">

    <title>Edit Article</title>

</head>

<body>

    <%- include('./partials/bars/navbar.ejs') -%>

    <%# blogger sidebar %>
    <% if (role === "blogger") { %>
        <%- include('./partials/bars/sidebar-blogger.ejs') -%>
    <%} %>

    <%# admin sidebar %>
    <% if (role === "admin") { %>
        <%- include('./partials/bars/sidebar-admin.ejs') -%>
    <%} %>
    

    <!-- Article_ID Container -->
    <p id="article_id_for_edit_article" style="display: none;"><%= article_id %></p>


    <!-- Title Edit Section -->
    <section class="article-box">
    
        <div id="article-title-edit">

            <div id="title-edit-section">
                <h4><b>Title: </b></h4>
                <input id="edit-title-input" type="text" value="<%= title %>">
            </div>
    

            <div id="title-edit-process">

                <div id="title-edit-btn">Apply Title Edit</div>

                <!-- Loading Animation -->
                <div id="loading-title-edit" class="sk-chase">
                    <div class="sk-chase-dot"></div>
                    <div class="sk-chase-dot"></div>
                    <div class="sk-chase-dot"></div>
                    <div class="sk-chase-dot"></div>
                    <div class="sk-chase-dot"></div>
                    <div class="sk-chase-dot"></div>
                </div>

            </div>

        </div>


        <div id="error-alert-title-edit" class="alert alert-danger alert-box" role="alert"></div>
    
    </section>



    <!-- Summary and Avatar Edit Section -->
    <section id="article-avatar-and-summary-edit" class="article-box">

        <div id="avatar-edit">

            <img src="/images/articles/default-article-pic.png" alt="Article Avatar">

        </div>


        <div id="summary-edit">

        </div>

    </section>

    
    
    <!-- Content Edit Section -->
    <section id="article-content-edit" class="article-box">
    
    
    
    </section>
    



      
    <!-- <%- include('./partials/article-photo-panel.ejs') -%>   -->



    <%- include('./partials/APIs&CDNs/fontawsome-js.ejs') -%>
    <%- include('./partials/APIs&CDNs/bootstrap-js.ejs') -%>
    
    <%- include('./partials/APIs&CDNs/tiny-cloud.ejs') -%>


    <script src="/javascripts/jQuery-Uncompressed.v3.4.1.js"></script>
    <script src="/javascripts/articles.js" type="module"></script>

</body>

</html>