<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <%- include('./partials/bootstrap-css.ejs') -%>
    
    <link rel="stylesheet" href="stylesheets/main.css">
    <link rel="stylesheet" href="stylesheets/navbar.css">
    <link rel="stylesheet" href="stylesheets/sidebar.css">

    <title>Home</title>
</head>

<body>

    <%- include('./partials/navbar.ejs') -%>

    <%- include('./partials/sidebar-blogger.ejs') -%>

    
    <%- include('./partials/fontawsome-js.ejs) -%>
    <%- include('./partials/bootstrap-js.ejs') -%>

</body>

</html>