<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <%- include('./partials/APIs&CDNs/bootstrap-css.ejs') -%>
    
    <link rel="stylesheet" href="stylesheets/main.css">
    <link rel="stylesheet" href="stylesheets/navbar.css">
    <link rel="stylesheet" href="stylesheets/sidebar.css">

    <title>Home</title>
</head>

<body>

    <%- include('./partials/bars/navbar.ejs') -%>

    <%# guest sidebar %>
    <% if (role === "guest") { %>
        <%- include('./partials/bars/sidebar-guest.ejs') -%>
    <%} %>

    <%# blogger sidebar %>
    <% if (role === "blogger") { %>
        <%- include('./partials/bars/sidebar-blogger.ejs') -%>
    <%} %>
    
    <%# admin sidebar %>
    <% if (role === "admin") { %>
        <%- include('./partials/bars/sidebar-admin.ejs') -%>
    <%} %>



    <%- include('./partials/APIs&CDNs/fontawsome-js.ejs') -%>
    <%- include('./partials/APIs&CDNs/bootstrap-js.ejs') -%>


    <script src="/javascripts/jQuery-Uncompressed.v3.4.1.js"></script>
    <script src="/javascripts/dashboard.js" type="module"></script>

</body>

</html>