<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <%- include('./partials/APIs&CDNs/bootstrap-css.ejs') -%>

    <link rel="stylesheet" href="../stylesheets/main.css">
    <link rel="stylesheet" href="../stylesheets/navbar.css">
    <link rel="stylesheet" href="../stylesheets/sidebar.css">

    <link rel="stylesheet" href="../stylesheets/article.css">
    <link rel="stylesheet" href="../stylesheets/loading1.css">

    <title>New Article</title>

</head>

<body>

    <%- include('./partials/bars/navbar.ejs') -%>

    <%- include('./partials/bars/sidebar-admin.ejs') -%>
    


    <section id="article-container">

        <form action="http://localhost:3000/article" method="POST">

            <textarea id="article-sheet" name="article">Hello, World!</textarea>
      
            <button id="publish-btn"><p>Publish</p></button>

        </form>


        <div id="error-alert-article" class="alert alert-danger alert-box" role="alert"></div>
        
    </section>


    <%- include('./partials/article-summary-panel.ejs') -%>  
    <%- include('./partials/article-photo-panel.ejs') -%>  




    <%- include('./partials/APIs&CDNs/fontawsome-js.ejs') -%>
    <%- include('./partials/APIs&CDNs/bootstrap-js.ejs') -%>
    
    <%- include('./partials/APIs&CDNs/tiny-cloud.ejs') -%>


    <script src="/javascripts/jQuery-Uncompressed.v3.4.1.js"></script>
    <script src="/javascripts/articles.js"></script>

</body>

</html>