<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <%- include('./partials/APIs&CDNs/bootstrap-css.ejs') -%>
    
    <link rel="stylesheet" href="stylesheets/main.css">
    <link rel="stylesheet" href="stylesheets/navbar.css">
    <link rel="stylesheet" href="stylesheets/signup-signin.css">

    <title>Sign-in</title>
</head>

<body>

    <%- include('./partials/bars/navbar.ejs') -%>

    
    <div id="container">

        <h1 id="title">Sign-in</h1>

        
        <sec id="personal-info">

            <input id="username-box" class="inputs" type="text" placeholder="Username" required>
            <div id="uname-length-warning" class="warning-box">
                &emsp;&emsp;&emsp;*Username length is not valid
            </div>

            
            <input id="password-box" class="inputs" type="password" placeholder="Password" required>
            <div id="password-length-warning" class="warning-box">
                &emsp;&emsp;&emsp;*Password length is not valid
            </div>


            <button id="signin-btn"><p>Sign-in</p></button>

        </form>


        <br><br>
        <a href="#">Forgot password? Request password reset</a>

    </div>


    <div id="error-alert" class="alert alert-danger alert-box" role="alert"></div>




    
    <!-- needed because 'input-validator-client.js' file imports whole 'articles.js' file -->
    <!-- and can't recognize 'tinyMCE' -->
    <%- include('./partials/APIs&CDNs/tiny-cloud.ejs') -%>
    
    <%- include('./partials/APIs&CDNs/fontawsome-js.ejs') -%>
    <%- include('./partials/APIs&CDNs/bootstrap-js.ejs') -%>

    <script src="javascripts/jQuery-Uncompressed.v3.4.1.js"></script>
    <script src="javascripts/signin.js" type="module"></script>

</body>

</html>